<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    clonifyLogo: "<%= image_path("clonify-logo.png") %>",
    logo: "<%= image_path("logo.png") %>"
  }
</script>

<main id="root"></main>
