.audio-player {
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  width: 150px;
}

.now-playing {

}

.song-controls {
  width: 100%;
}

.np-album {
  opacity: 1;
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: hidden;
}

.np-album img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.np-album img:hover {
  opacity: 0.5;
}

.np-song {
  margin-top: 18px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.np-artist-wrapper {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.np-artist {
  opacity: 0.7;
  font-size: 12px;
  font-family: "proxima nova light", sans-serif;
}

.np-artist:hover {
  opacity: 1;
  text-decoration: underline;
}

// SEEKBAR

.seek-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 100%;
}

#seek-bar {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 4px;
  height: 4px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #84bd00),
    color-stop(0, #3e3e40)
  );
}

input[type='range']::-webkit-slider-thumb {
  visibility: hidden;
}

input[type="range"]:hover {
  height: 6px;
}

input[type="range"]:hover::-webkit-slider-thumb {
  visibility: visible;
}

.track-times{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #88898c;
}

.toggle-play-button {
  display: block;
  width: 50px;
  height: 50px;
}

.rewind-button,
.fastforward-button {
  display: block;
  width: 25px;
  height: 25px;
}

.controls-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.controls-wrapper img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.controls-wrapper img:hover {
  opacity: 1;
}

.play-options-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-options-wrapper button {
  display: block;
  width: 16px;
  height: 16px;
}

.play-options-wrapper img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
