.details-header {
  width: 100%;
  background: $dark-slate-gray;
  display: flex;
}

.header-img-wrapper {
  margin: 15px;
  width: 130px;
  height: 130px;
}

.details-header img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.details-header-info {
  position: relative;
  margin: 15px 15px 15px 0;
}

.details-header-info span {
  text-transform: uppercase;
  color: #88898c;
  letter-spacing: 1px;
  font-size: 12px;
}

.details-header-info h1 {
  font-family: "proxima nova light", sans-serif;
  font-size: 32px;
  line-height: 36px;
  margin: 5px 0;
  width: 100%;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-header-info h2 {
  color: #88898c;
}

.details-header-info a {
  opacity: 0.9;
  color: white;
}

.details-header-info a:hover {
  opacity: 1;
  text-decoration: underline;
}
