.main-content {
  margin-left: 90px;
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.main-content::-webkit-scrollbar {
  display: block;
  background-color: $dark-gray;
  width: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  display: block;
  background-color: #323438;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.main-content > h1 {
  font-family: "proxima nova light", sans-serif;
  font-size: 48px;
  line-height: px;
}
