.playlist-update-dropdown {
  position: relative;
}

.playlist-update-dropdown li {
  display: flex;
  justify-content: center;
}

.playlist-update-dropdown input[type="text"] {
  background: white;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  margin: 5px 15px;
  color: black;
  width: 100%;
}

.playlist-update-dropdown > form {
  display: block;
  position: absolute;
  z-index: 9002;
  top: 25px;
  left: -110px;
  background: #3e3e40;
  width: 220px;
}

.playlist-update-dropdown li {
  border-top: 1px solid #27282b;
  height: 35px;
}

.playlist-update-dropdown li:first-child {
  border: none;
}

.playlist-update-dropdown input[type="submit"] {
  background: $bright-green-no-hover;
  margin: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0 20px;
  border-radius: 500px;
  text-transform: uppercase;
}

.playlist-update-dropdown input[type="submit"]:hover {
  background: $bright-green-hover;
}
