.song-table {
  // border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
}

.st-header-row {
  text-align: left;
  color: rgb(136, 137, 140);
}

.song-row:hover {
  background: #1c1c1f;
}

.st-header-row th {
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 1px;
  padding-top: 20px;
  border-top: 1px solid #222326;
}

.song-table td {
  border-top: 1px solid #222326;
  padding: 10px 10px 10px 0;
}

.song-table tr > td:first-child {
  width: 40px;
  padding-left: 10px;
}

.play-button-cell {
  opacity: 0.7;
  display: block;
  width: 30px;
  height: 30px;
  background: url(asset-path('play.png')) no-repeat 0 0;
  background-size: 100%;
}

.play-button-cell:hover {
  opacity: 1;
}
