.your-music-wrapper {
  display: flex;
}

.your-music-playlists-wrapper {
  margin: 5px;
  border: 1px solid red;
}

.playlist-details {
  margin: 5px;
  border: 1px solid red;
}

/** Playlists List **/

/** Playlist Details **/
